In [2]:
import pandas as pd

In [4]:
df = pd.read_excel("raw_sales_data.xlsx")

df.head()

,Order_ID,Order_Date,Region,Sales_Rep,Product_Category,Revenue,Discount,Target
0,ORD0001,2024-12-22,West,James Wilson,Software,1754.20,0.13,20831.42
1,ORD0002,2024-10-24,East,Linda Davis,Electronics,19834.97,0.07,7502.10
2,ORD0003,2024-04-19,East,John Smith,Accessories,17139.86,0.08,11821.59
3,ORD0004,2024-09-13,South,James Wilson,Furniture,16920.83,0.08,16017.80
4,ORD0005,2024-08-29,East,David Brown,Electronics,5666.91,0.10,19680.63

In [5]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("%", "percent")
)

In [6]:
df.columns

Index(['order_id', 'order_date', 'region', 'sales_rep', 'product_category',
       'revenue', 'discount', 'target'],
      dtype='object')

In [8]:
df["order_date"] = pd.to_datetime(df["order_date"])

In [9]:
df["revenue"] = (
    df["revenue"]
    .replace("[^0-9.]", "", regex=True)
    .astype(float)
)

df["discount"] = (
    df["discount"]
    .replace("[^0-9.]", "", regex=True)
    .astype(float)
)

In [10]:
df["net_revenue"] = df["revenue"] - df["discount"]

In [11]:
df["month"] = df["order_date"].dt.month
df["year"] = df["order_date"].dt.year

In [12]:
df["margin_percent"] = (df["net_revenue"] / df["revenue"]) * 100

In [14]:
df = df.dropna()

In [15]:
df["order_date"] = df["order_date"].dt.strftime("%Y-%m-%d %H:%M:%S")

In [16]:
df = df[[
    "order_id",
    "order_date",
    "region",
    "sales_rep",
    "product_category",
    "revenue",
    "discount",
    "net_revenue",
    "month",
    "year",
    "margin_percent"
]]

In [17]:
df.to_csv("sales_data_postgres_ready.csv", index=False)