In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("raw_sales_data.xlsx")

df.head()

,Order_ID,Order_Date,Region,Sales_Rep,Product_Category,Revenue,Discount,Target
0,ORD0001,2024-12-22,West,James Wilson,Software,1754.20,0.13,20831.42
1,ORD0002,2024-10-24,East,Linda Davis,Electronics,19834.97,0.07,7502.10
2,ORD0003,2024-04-19,East,John Smith,Accessories,17139.86,0.08,11821.59
3,ORD0004,2024-09-13,South,James Wilson,Furniture,16920.83,0.08,16017.80
4,ORD0005,2024-08-29,East,David Brown,Electronics,5666.91,0.10,19680.63

In [5]:
df = df.dropna()

In [7]:
df["Region"] = df["Region"].str.strip().str.title()

In [8]:
df["Order_Date"] = pd.to_datetime(df["Order_Date"])

In [9]:
df["Net_Revenue"] = df["Revenue"] - df["Discount"]

In [10]:
df["Month"] = df["Order_Date"].dt.month

In [11]:
df["Year"] = df["Order_Date"].dt.year

In [12]:
df["Margin_%"] = (df["Net_Revenue"] / df["Revenue"]) * 100

In [13]:
df.to_csv("cleaned_sales_data.csv", index=False)

In [ ]:
display(df.head())